// For naming colors variables, we recommend use http://chir.ag/projects/name-that-color/

//module MAIN COLOR PALETTE
$color-razzmatazz: #d3135a;
$color-cotton-candy: #ffb3dc;
$color-mercury: #e6e6e6;
$color-tundora: #4d4d4d;
$color-silver: #cccccc;
$color-gray: #929292;
$color-nobel: #b3b3b3;

//module COMMON COLORS
$color-white: #ffffff;
$color-black: #000000;

//module LINK COLORS
$color-lochmara: #0071bc;

//module SELECTION COLORS
$color-mine-shaft: #333333;
$color-dove-gray: #666666;