$base-line-height: 1.5;
$base-font-size: 14px;
$base-font-family: "Trebuchet MS", Helvetica, sans-serif;

$font-times-roman: "Times New Roman", Times, serif;

// container
$width-body: 1080px;
$height-header: 120px;
$height-footer: 120px;